.chat-start{
    margin-top: 4em;
    margin-left: 1em;
}

.chat-header {
    //background-color: rgb(143, 209, 206);
    //border-color: black;
    display: flex;
    justify-content: space-between;
    margin-bottom: -1.4em;
    margin-top: 1em;
    //box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.658);
    padding: 0.5em;
    width: 95%;
    //color: rgb(78, 77, 77);
    width: calc(100vw - 340px);;
}

.chat-header__buttons{
    display: block;
}

.chat-header__add, .chat-header__remove{
    height: 2em;
    margin-right: 0;
    margin-left: 0;
}
.chat-header__add {
    width: 5em;
}



#chat-accept-button, #found-user__add-button{
    height: 2em;
    text-transform: capitalize;
    margin-left: 25px;
    //background-color: blue;
}

#found-user__add-button{
    //color: rgb(32, 32, 32);
}

.chat-submit-bar{
    display: flex;
    justify-content: space-between;
}

.chat-submit-form{
    display: flex;
    width: 120%;
    margin-left: 1%;
}


#add-user-button{
    text-transform: capitalize;
    margin-right: 2px;
    margin-top: 4px;
    //background-color: rgb(149, 245, 149);
    //color: black;
}

#remove-user-button{
    text-transform: capitalize;
    margin-left: 2px;
    margin-top: 4px;
    //background-color: rgb(233, 115, 115);
    //color: black;
}

#send-message__button{
    height: 1.8em;
    text-transform: capitalize;
    margin-top: 25px;
    //background-color: blue;
}

#drawing-button{
    text-transform: capitalize;
    margin-top: 25px;
    margin-left: -10px;
    height: 1.8em;
    //background-color: peru;
}


#messages-input{
    margin-right: 5px;
    text-align: center;
    margin-top: 22px;
}

.chat-input__container{
    width: calc(100% - var(--button-width) - 20px)
}