.createRoomContainer{
    margin: 1em 0;
}

.new-room__title{
    text-align: center;
    margin-bottom: 1.5em;
}

.new-room__name{
    margin: 1rem;
    font-size: 2em;
}

.new-room__input-name{
    display: block;
    width: 25em;
    max-width: 100%;
}

.new-room__contacts{
    display: block;
    margin: 1em;
}

.new-room__title-users{
    margin-bottom: 0;
    margin-top: 1em;
}

.new-room__contacts-list{
    overflow-x: scroll;
    height: 3em;
    padding-top: 1em;
    border-radius: 5px;
    margin-top: 0.5em;
}

.new-room__contacts-label{
    margin-left: 1em;
}

#new-room__create-button{
    margin-left: 0;
    margin-top: 0;
    margin-top: 0.3em;
    text-transform: capitalize;
}

#new-room__cancel-button{
    position: relative;
    float: right;
    text-transform: capitalize;
}
