body{
    background-color: transparent;
}

.header {
    align-items: right;
    border: solid;
    display: flex;
    font-size: 150%;
    justify-content: space-between;
    border-radius: 15px;
    margin-bottom: 20px;
    padding-right: 0px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.658);
}

.header-title{
    margin-left: calc(50% - 8rem); ;
}

button {
    margin: 20px;
    height: 200%;
    color: rgb(70, 69, 69);
    background-color: white;
}
button:hover {
    box-shadow: 2px -2px 2px rgb(71, 70, 70);
    color: rgb(71, 70, 70);
    cursor: pointer;
}


.header__menu{
    margin-right: 30px;
}
.header__menu ul{
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -2em;
}

.header__menu:hover ul, ul:hover{
    display: block;
}

.header__menu li {
    font-size: 1rem;
    display: flex;
    background-color: rgb(66, 65, 65);
    color: white;   
    justify-content: center;
}

.header__menu--options{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.658);
}

.header__menu li a{
    color: white;
    text-decoration: none;
}
.header__menu li:hover {
    color: rgb(66, 65, 65);
    background-color: white;
}
.header__menu li:hover a{
    color: rgb(66, 65, 65);
    background-color: white;
}

.header__menu--item:hover {
    cursor: pointer;
    color: rgb(66, 65, 65);
    background-color: white;
}



.header__menu--item:hover a{
    color: rgb(66, 65, 65);
}

.header__menu--button{
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.35em;
    /*border: solid;*/
    width: 2em;
    height: 1em;
    text-align: center;
    border-radius: 5px;
    /*border-color: white;*/
    margin-right: -0.5em;
    margin-top: 0.5em;
    /*background-color: rgb(160, 155, 155);*/
    background-color: rgb(88, 87, 87);
    /*background-color: rgb(182, 179, 179);*/
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.658);
}

.header__menu--button:hover{
    cursor: pointer;
}


.header__menu--button img{
    margin-right: 8px;
    width: 40px;
}
.header__menu--button p{
    margin: 0px;
    color: white;
}

.header-title:hover{
    cursor: pointer;
}


/*
.header--logout{
    color: brown;
    text-align: right;
    cursor: pointer;
    align-items: right;

}

a:link {
    color: brown;
  }

.header--logout:hover{
    text-decoration: underline;
    text-shadow: 1px 1px brown;
}*/