.settings__title{
    text-align: center;
}

.settings__user-title {
    padding-left: 0.5em;
    padding-top: 0.5em;
    height: 2em;
    margin-bottom: 0;
    width: 45%;
}

.settings__user div{
    min-height: 5em;
    margin-top: 1em;
    margin-left: 2em;
}

.settings__user{
    margin-bottom: 1.5em;
}

.settings__language-list{
    margin-top: 1em;
}

.settings__language-title{
    padding-left: 0.5em;
    padding-top: 0.5em;
    height: 2em;
    margin-bottom: 0;
    width: 45%;
}

.settings__language{
    margin-top: 0.5em;
    padding-bottom: 0.5em;
}

.settings__language-container {
    min-height: 5em;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 0;
}

#settings__language-button{
    margin-left: 0.5em;
    margin-bottom: 0em;
    margin-top: 10px;
}

#settings__cancel-button{
    position: relative;
    float: right;
    margin-top: 10px;
}

@media (max-width: 560px) and (min-width: 340px) {
.settings__language-title, .settings__user h2 {
        width: 75%;
    }
}

@media (max-width: 350px){
    .settings__language-title, .settings__user h2 {
            width: 80%;
            font-size: 1em;
    }   
}