.user-picture {
    border: solid;
    width: 230px;
    height: 220px;
    background-image: url('../../../media/genuser.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 10%;
    margin-bottom: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.658);
}

/*.user-picture:hover {
    cursor: pointer;
}*/

.user-name--text {
    font-size: 300%;
    width: 220px;
    padding-left: 0px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.user-contacts{
    font-size: 120%;
}
.contacts:hover {
    cursor: pointer;
    color: rgb(71, 70, 70);
    font-size: 125%;
}

.user-info, .chats {
    border: solid;
    width: 220px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.658);
    max-height: 300px;
}


.chats {
    margin-top: 10px;
    
}

.new-messages::after {
    content: " (M)";
}

.pending::after {
    content: " (P)";
}

.request::after{
    content: " (R)";
}

.chats-header{
    display: flex;
    justify-content: space-around;
}

.chats-button{
    /*border: solid;*/  
    border-radius: 50%;
    height: 120%;
    margin-top: 0.7em;
    font-size: 1.5em;
    font-weight: bold;
}

.chats-button:hover {
    cursor: pointer;
}

.room:hover {
    cursor: pointer;
    color: rgb(71, 70, 70);
}



/*@media (max-width: 600px) and (min-width: 450px) {
    .user{
        margin-top: 10px;
    }


    .user-picture__container, .user-info, .chats{
        display: inline-block;
    }

    .user-picture__container{
        margin: 25px;
    }

    .user-info{
        margin-left: 5px;
        margin-top: -20px;
    }

}*/

@media (max-width: 600px) {
    .user{
        margin-top: 10px;

    }


    .user-picture__container, .user-info, .chats{
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }

    .user-info, .chats{
        width: 80%;
    }
}