.working {
    --button-width: 70px;
    margin-left: 10px;
    width: 100%;
}
.working-search{
    width: calc(100% - var(--button-width) - 25px);
    margin-right: 3px;
    
}

#email-search{
    text-align: center;
    width: calc(100% - var(--button-width) - 20px);
    margin-right: 3px;
}

.chat-button {
    margin-left: 0;
    margin-right: 0;
}

#search-user-button{
    margin-left: 0;
    margin-right: 0;
    width: 92px;
    background-color: blue;
    text-transform: capitalize;
    height: 1.8em;
}


.chat-messages{
    margin-top: 20px;
    background-color: white;
    border: solid;
    height: 300px;
    margin-bottom: -18px;
    overflow: auto;
    max-width: calc(100vw - 298px);
}

.found-user__user{
    text-align: center;
}

.found-user__user:hover {
    color: blue;
    cursor: default;
}

#found-user__add-button{
    background-color: blue;
}


@media (max-width: 350px){
    #email-search{
        font-size: 0.65em;
    }
}

@media (max-width: 600px){
    .chat-messages{
        max-width: calc(100vw - 6px);
    }
}