.working {
    --button-width: 80px;
    margin-left: 10px;
    width: 100%;
}
.working-search, .chat-writing{
    color: rgb(77, 75, 75);
    background-color: white;
    width: calc(100% - var(--button-width) - 20px);
    margin-right: 0;
    text-align: center;
}

.working-search::placeholder, .chat-writing::placeholder{
    color: rgb(68, 67, 67);
}

.working-button, .chat-button {
    margin-left: 0;
    margin-right: 0;
    width: var(--button-width);
}

.chat-messages{
    margin-top: 20px;
    background-color: white;
    border: solid;
    height: 300px;
    color: rgb(66, 65, 65);
    border-radius: 20px;
}

.chats {
    border: solid;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.658);

}