.working {
    --button-width: 80px;
    margin-left: 10px;
    width: 100%;
}
.working-search, .chat-writing{
    color: rgb(77, 75, 75);
    background-color: white;
    width: calc(100% - var(--button-width) - 20px);
    margin-right: 0;
    text-align: center;
}

.working-search::placeholder, .chat-writing::placeholder{
    color: rgb(68, 67, 67);
}

.working-button, .chat-button {
    margin-left: 0;
    margin-right: 0;
    width: var(--button-width);
}

.chat-messages{
    margin-top: 20px;
    background-color: gray;
    border: solid;
    height: 300px;
    color: rgb(66, 65, 65);
    border-radius: 20px;
    margin-bottom: -18px;
}

.found-user__user{
    text-align: center;
}

.found-user__user:hover {
    color: gray;
    text-shadow: 0px 0px 10px white;
    cursor: default;
}