*{
    background-color: transparent;
}

.main-area{
    
}
/*
.logout-button{
    color:brown;
    font-size: 20px;
    cursor: pointer;
}

.title {
    color: brown;
    font-size: 250%;
    text-decoration: none;
}

.login-box, .register-box {
    width: 30%;
    border: 10px;
    display: flex;
    border: solid;
    flex-direction: column;
    margin: auto;
    padding: 2rem;
    border-radius: 10%;
}

.login-form, .register-form {
    display: flex;
    flex-direction: column;
}

.login-button, .register-button {
    width: 5rem;
}*/